<a href="https://colab.research.google.com/github/Engineer-Uni/Engineer-Unilog/blob/master/_notebooks/2021-05-25-%EA%B8%B0%EB%B3%B8%EB%AC%B8%EB%B2%95%EA%B3%BC%EC%97%B0%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**지난주 복습: 데이터 타입**

In [ ]:
#int 숫자타입
test1 = 1
print(test1)
print(type(test1))   # 데이터 형
print(id(test1))     # 데이터 주소


# 따옴표 안의 숫자는 문자로 인식한다
a, b= 10, 20
print(a+b)
a, b = '10', '20'
print(c+d)


# 숫자와 문자는 계산되지 않는다
a, b = abcd, 20
print(a+b)

1
<class 'int'>
94905490205184
30
1020

NameError: ignored

In [ ]:
#test1 = 1.0
print(test1)
print(type(test1))   # 데이터 형
print(id(test1))     # 데이터 주소

1.0
<class 'float'>
139669584096688

In [ ]:
test1 = "hi"
print(test1)
print(type(test1))   # 데이터 형
print(id(test1))     # 데이터 주소


# 문자열 여러줄 넣고 싶다면 따옴표 3개를 연달아 작성한다

a = '''자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.'''
print(a)

hi
<class 'str'>
139670275605488
자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.

In [ ]:
test1 = True
print(test1)
print(type(test1))   # 데이터 형
print(id(test1))     # 데이터 주소

b = 1 > 2
print(b)

True
<class 'bool'>
94905489531136
False

In [ ]:
test1 = [1,2,3]
print(test1)
print(type(test1))   # 데이터 형
print(id(test1))     # 데이터 주소

[1, 2, 3]
<class 'list'>
139669583916880

In [ ]:
test1 = (1,2,3)
print(test1)
print(type(test1))   # 데이터 형
print(id(test1))     # 데이터 주소

(1, 2, 3)
<class 'tuple'>
139669584078560

In [ ]:
test1 = {'name' : 'john', 'age' : 15}
print(test1)
print(type(test1))   # 데이터 형
print(id(test1))     # 데이터 주소

{'name': 'john', 'age': 15}
<class 'dict'>
139669651052016

In [ ]:
test1 = {1,2,3,4}
print(test1)
print(type(test1))   # 데이터 형
print(id(test1))     # 데이터 주소

{1, 2, 3, 4}
<class 'set'>
139669712745728

#** 형 변환 함수**
> int(), float(), str()

In [ ]:
# string > int
a, b= 10, "20"
print(a+int(b))

30

In [ ]:
# int > string
a, b= 10, 20
print(str(a)+str(b))

1020

In [ ]:
# int > float
a, b= 10, 20
print(float(a)+float(b))

30.0

In [ ]:
# 소수를 실수형으로 변환시키면 소수점 이하는 버린다
a, b= 10.3, 20.8
print(int(a)+int(b))

30

#**변수에 값 입력받기 > input()**
input으로 입력받은 값은 문자값으로 출력된다

In [ ]:
name = input('이름을 입력하세요')
print( name, '님 안녕하세요?')

이름을 입력하세요허윤희
허윤희 님 안녕하세요?

#**출력 > print()**

In [ ]:
print(5)
print(0.5)
print('Hi')
print('10')

5
0.5
Hi
10

In [ ]:
print(1+2)
print(2>3)
print(2<3)

3
False
True

In [ ]:
#변수값 출력
a = 1
print(a)
print(a+1)

1
2

In [ ]:
print('Hello','World')
print('1 더하기 2는', 1+2)
age = 10
print('나는', age, '살 입니다')

Hello World
1 더하기 2는 3
나는 10 살 입니다

#**출력 > f스트링**
문장 사이에 변수값을 출력할 때 편리하다.

In [ ]:
# f스트링: 문장사이 변수값을 출력할 때 사용

name = input('이름을 입력하세요')
print( f'{name}님 안녕하세요?')

이름을 입력하세요허윤희
허윤희님 안녕하세요?

#**산술연산**

In [ ]:
# // : 몫 _ 나머지 버린 거
x = 100
y = 3
print(x // y)

33

In [ ]:
# % : 나머지 0 / 1 _ '짝수/홀수만 선택하세요' 같은 조건을 사용할 때
x = 100
y = 3
print(x % y)

1

In [ ]:
# ** : 거듭제곱
x = 100
y = 3
print(x ** y)

1000000

#**두 수를 입력받아 더하는 프로그램**

In [ ]:
print('두 수를 입력받아 더하는 프로그램입니다.')
a = input('첫번째 숫자를 입력하세요: ')
b = input('두번째 숫자를 입력하세요: ')
print(f'{a} + {b} = {int(a)+int(b)}')

두 수를 입력받아 더하는 프로그램입니다.
첫번째 숫자를 입력하세요: 10
두번째 숫자를 입력하세요: 20
10 + 20 = 30

#**산술연산의 우선순위**
() > ** > *, / > +, -

#**화씨온도 > 섭씨온도로 변환하기**

In [ ]:
a = input('화씨온도: ')
print('섭씨온도:',(int(a)-32)*5/9)

화씨온도: 100
섭씨온도: 37.77777777777778

#**삼각형 넓이**

In [ ]:
a = float(input('밑변:'))
h = float(input('높이:'))
print('삼각형의 넓이:', a*h/2)

밑변:3.2
높이:5.5
삼각형의 넓이: 8.8

#**원의 넓이 구하기**

In [ ]:
a = float(input('반지름: '))
print('원의 둘레:', 2*a*3.14 , '원의 넓이:', 3.14*a**2)

반지름: 3
원의 둘레: 18.84 원의 넓이: 28.26

#**할당 연산자**
<li>주소에 변수값 할당하기</li>
<li>기호 '=' 사용</li>
<li>'=='는 [같다]라는 연산 표현</li>

In [ ]:
# 하나의 변수에 하나의 값 할당
a = 1
print(a)

# 여러개의 변수에 하나의 값 할당
a = b = c = 1
print(a,b,c)

# 여러개의 변수에 각각 다른 값 할당
a, b, c = 1, 2, 3
print(a,b,c)

1
1 1 1
1 2 3

#**복합할당 연산자**

In [ ]:
#누적해서 더하기 : 자기 자신에게 자기 자신을 더해줌
x = 10
x += 20
# x = x(기존) + 20
print(x)

30

In [ ]:
#
x = 3
y = 5
x *= x + y
# x = x * (x + y)
print(x)

24

#**문자열 연결하기**

In [ ]:
name = input('이름을 입력하세요: ')
greet = name + '님, 안녕하세요'
print(greet)

이름을 입력하세요: 윤희
윤희님, 안녕하세요

In [ ]:
English = 80
result = '영어점수: ' + str(English) + '점'
print(result)

영어점수: 80점

#**로봇 기자 만들기**

In [ ]:
stadium = input('경기장소: ')
winner = input('이긴 팀: ')
loser = input('진 팀: ')
vip = input('vip 선수: ')
score = input('점수: ')
print('-' * 50)

print(f'''오늘 {stadium}에서 경기가 열렸습니다.
{winner}와(과) {loser}은(는) 치열한 공방전을 펼쳤습니다.
{vip}이(가) 맹활약을 펼습니다.
결국 {winner}이(가) {loser}을(를) {score}로 이겼습니다.''')

경기장소: 올림픽 경기장
이긴 팀: 대한민국
진 팀: 일본
vip 선수: 손흥민
점수: 3:0
--------------------------------------------------
오늘 올림픽 경기장에서 경기가 열렸습니다.
대한민국와(과) 일본은(는) 치열한 공방전을 펼쳤습니다.
손흥민이(가) 맹활약을 펼습니다.
결국 대한민국이(가) 일본을(를) 3:0로 이겼습니다.

#**광고 만들기**

In [ ]:
location = input('어느 지역인가요?')
loc_type = input('매물의 종류는 무엇인가요?')
dimensions = input('면적은 어떻게 되나요?(평수)')
room_nm = input('방의 개수는 몇개인가요?')
price = input('가격은 얼마인가요?')
print('-' * 50)

print(f'''{location}에 위치한 아주 좋은 {loc_type}이(가) 매물로 나왔습니다.
이 {loc_type}는 {dimensions}평으로 {room_nm}개의 방을 가지고 있습니다.
가격은 {price}만원 입니다.''')

어느 지역인가요?서울
매물의 종류는 무엇인가요?아파트
면적은 어떻게 되나요?(평수)20
방의 개수는 몇개인가요?2
가격은 얼마인가요?17억
--------------------------------------------------
서울에 위치한 아주 좋은 아파트이(가) 매물로 나왔습니다.
이 아파트는 20평으로 2개의 방을 가지고 있습니다.
가격은 17억만원 입니다.

In [ ]:
nmb_member = input('팀원은 총 몇명인가요?')
team_nm = input('팀명은 무엇인가요?')
print('-' * 50)

print(f'''저희 팀은 총 {nmb_member}명으로 이루어진 {team_nm}팀 입니다!''')

팀원은 총 몇명인가요?7
팀명은 무엇인가요?네카라쿠배삼파망
--------------------------------------------------
저희 팀은 총 7명으로 이루어진 네카라쿠배삼파망팀 입니다!

#**성적계산 프로그램**

In [ ]:
input('이름을 입력하세요: ')
a = int(input('국어성적을 입력하세요: '))
b = int(input('영어성적을 입력하세요: '))
c = int(input('수학성적을 입력하세요: '))
print('-'*50)
print(f'평균성적은 {(a + b + c)/3}점입니다.')

#**커피가게 매출 계산하기**

In [ ]:
americano = 2000
latte = 3000
cappuccino = 3500

a = int(input('아메리카노 판매 갯수: '))
b = int(input('카페라떼 판매 갯수: '))
c = int(input('카푸치노 판매 갯수: '))
print('-'*50)
print(f'총 매출은 {americano*a + latte*b + cappuccino*c}원입니다.')

아메리카노 판매 갯수: 2
카페라떼 판매 갯수: 4
카푸치노 판매 갯수: 6
--------------------------------------------------
총 매출은 37000원입니다.

In [ ]:
ame = int(input('아메리카노 판매 갯수: '))
latte = int(input('카페라떼 판매 갯수: '))
chino = int(input('카푸치노 판매 갯수: '))
price = (ame*2000) + (latte*3000) + (chino*3500)
print('-'*50)
print('총 매출은', price, '원입니다.')

아메리카노 판매 갯수: 4
카페라떼 판매 갯수: 7
카푸치노 판매 갯수: 1
--------------------------------------------------
총 매출은 32500 원입니다.

#**문자로 작성**
\n => 줄넘김,enter <br>
\t => 줄맞춤(intent),tap

In [ ]:
print('셀 병합 \n \t \'shift key\'를 누른 후 \n \t \t 병합을 원하는 셀들을 다중선택 후 shift+m')

셀 병합
 	 'shift key'를 누른 후
 	 	 병합을 원하는 셀들을 다중선택 후 shift+m

#**문자열로서의 숫자처리**
주민번호, 우편번호등 값이 0으로 시작되는 정수
파이썬에서는 정수가 0으로 시작하면 정수값 입력오류로 문법 오류 처리

In [ ]:
#주민번호
print(210101-1111111)
print('210101-1111111')

#**join과 split**
join: 문자열을 원하는 글자로 더한다.<br>
split: 문자열을 원하는 글자로 나눈다.

In [ ]:
print('-'.join('Hello World'))
print('Welcome to Python'.split(' '))

H-e-l-l-o- -W-o-r-l-d
['Welcome', 'to', 'Python']

In [ ]:
a = 8 == 12
print(a, type(a))
b = 'apple' == 'APPLE'
print(b,type(b))
c = 8 != 12
print(c, type(c))

False <class 'bool'>
False <class 'bool'>
True <class 'bool'>