<a href="https://colab.research.google.com/github/Engineer-Uni/Engineer-Unilog/blob/master/_notebooks/2021-05-27-%ED%8A%9C%ED%94%8C%EA%B3%BC%20%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**예제 1) 숫자 합계와 평균 계산하기**

In [ ]:
num_list = []
for i in range(5):
    number = float(input('숫자를 입력하세요: '))
    num_list.append(number)
if len(num_list) != 0:
    average = sum(num_list) / len(num_list)
else:
    average = 0
print(f'합계는 {sum(num_list)}, 평균은 {average}입니다.')

숫자를 입력하세요: 3
숫자를 입력하세요: 4
숫자를 입력하세요: 1
숫자를 입력하세요: 2
숫자를 입력하세요: 5
합계는 15.0, 평균은 3.0입니다.

#**예제 2) 주사위 빈도 계산하기**

In [ ]:
import random
count = [0,0,0,0,0,0]
for i in range(10000):
    dice = random.randint(1,6)
    if dice == 1:
        count[0] += 1
    elif dice == 2:
        count[1] += 1
    elif dice == 3:
        count[2] += 1
    elif dice == 4:
        count[3] += 1
    elif dice == 5:
        count[4] += 1
    elif dice == 6:
        count[5] += 1

print(count)

[1685, 1687, 1634, 1631, 1727, 1636]

In [ ]:
import random

dice = list(range(1, 7))
conse = []

for i in range(10000) :
    conse.append(random.choice(dice))

for i in range(1, len(dice)+1) :
    print(f'{i}은(는) {conse.count(i)} 개')

1은(는) 1645 개
2은(는) 1614 개
3은(는) 1666 개
4은(는) 1765 개
5은(는) 1660 개
6은(는) 1650 개

#**예제 3) 과목별 점수의 평균 구하기**
[국,영,수] 점수가 저장된 리스트입니다.
1. 과목별 리스트를 분리하고
2. 과목별 평균을 산출하세요. (평균은 소수점 1자리까지 산출)

In [ ]:
scores = [[96,84,80], [96,86,76], [76,95,83], [89,96,69], [90,76,91], [82,66,88], [83,86,79], [85,90,83]]

#리스트를 분리할 공간을 만들어준다
ko = []
en = []
math = []


for personal_score in scores: #scores 리스트 안의 리스트를 student로 정의하고
    ko.append(personal_score[0]) #개인 score의 첫번째 항목은 국어점수
    en.append(personal_score[1]) #개인 score의 두번째 항목은 영어점수
    math.append(personal_score[2]) #개인 score의 세번째 항목은 수학점수

print(f'국어 점수: {ko}, 영어 점수: {en}, 수학 점수: {math}') #과목별 점수로 분류되었는지 확인

# 평균을 구한다 round(과목합계/항목수, 소수점1자리)
avr_ko = round(sum(ko)/len(ko),1)
avr_en = round(sum(en)/len(en),1)
avr_math = round(sum(math)/len(math),1)

print(f'국어 평균: {avr_ko}, 영어 평균: {avr_en}, 수학 평균: {avr_math}')

국어 점수: [96, 96, 76, 89, 90, 82, 83, 85], 영어 점수: [84, 86, 95, 96, 76, 66, 86, 90], 수학 점수: [80, 76, 83, 69, 91, 88, 79, 83]
국어 평균: 87.1, 영어 평균: 84.9, 수학 평균: 81.1

#**예제) 리스트 합계 구하기

In [ ]:
#range로 범위 지정할 경우에는 인덱스로 잡기
values = [56,12,33,8,3,2,98]
total = 0
for i in range(7):
    total += values[i]
total

212

In [ ]:
#리스트명 자체로 정할 경우에는 각각의 요소인 i(임의명)으로 잡기
values = [56,12,33,8,3,2,98]
total = 0
for i in values:
    total += i
total

212

In [ ]:
#sum(리스트명)
values = [56,12,33,8,3,2,98]
print(sum(values))

212

#**튜플(Tuple) _ 값을 바꿀 수 없는 항목**
리스트는 [ ], 튜플은 ( )
<br> ex) 주민번호, 여권번호, 생년월일...
<br> 튜플은 뒤에 ,를 반드시 입력 *안하면

In [ ]:
t1 = (1,5,3,4,2)
t2 = (6,7,8,9,8)
print(t1[1])  #인덱싱
print(t1[2:4])   #슬라이싱
print(t1+t2)   #더하기
print(t1*3)   #곱하기
print(len(t1))   #길이 구하기
print(t2.index(9))   #요소의 위치 찾기
print(t2.count(8))  #요소의 갯수

sort_t1 = sorted(t1)   #정렬된 [새로운 리스트]로 반환! 튜플은 변경이 안되므로.
print(sort_t1)

5
(3, 4)
(1, 5, 3, 4, 2, 6, 7, 8, 9, 8)
(1, 5, 3, 4, 2, 1, 5, 3, 4, 2, 1, 5, 3, 4, 2)
5
3
2
[1, 2, 3, 4, 5]

#**딕션너리**
key: value 의 집합
<br> dict_name = {key0:value0, key1:value1 ... keyN,valueN}
<br> 순서가 없음 = 인덱스가 없음
<br> 키 값으로 제어

In [ ]:
dict_person = {
    'name':'아이언맨',
    '소속':'마블',
    'age':35,
    '특징':['기술덕후','부자']
}
print(dict_person)

{'name': '아이언맨', '소속': '마블', 'age': 35, '특징': ['기술덕후', '부자']}

In [ ]:
dict_phone = {
    '강동원':'01011112222',
    '공유':'01022223333',
    '현빈':'01033334444'
}
print(dict_phone)

{'강동원': '01011112222', '공유': '01022223333', '현빈': '01033334444'}

#**딕셔너리:요소 추가, 삭제, 추출하기**

In [ ]:
#요소 추가하기
#딕셔너리명[key]=value

dict_scores = {}
dict_scores['홍길동'] = 80
dict_scores['공유'] = 90
dict_scores['현빈'] = 100

print(dict_scores)

{'홍길동': 80, '공유': 90, '현빈': 100}

In [ ]:
#딕셔너리 요소 삭제
#del 딕셔너리명[key]

dict_scores = {
    '홍길동': 80,
    '공유': 90,
    '현빈': 100
}

del dict_scores['홍길동']
print(dict_scores)

{'공유': 90, '현빈': 100}

In [ ]:
#딕셔너리 요소 추출하고 삭제
#딕셔너리명.pop(key)

dict_scores = {
    '홍길동': 80,
    '공유': 90,
    '현빈': 100
}

score = dict_scores.pop('홍길동')
print(score)
print(dict_scores)

80
{'공유': 90, '현빈': 100}

In [ ]:
#딕셔너리 모든 요소 삭제
#딕셔너리명.clear()

dict_scores = {
    '홍길동': 80,
    '공유': 90,
    '현빈': 100
}

dict_scores.clear()
print(dict_scores)

{}

#**딕셔너리 : 요소 추출**

In [ ]:
#리스트명.get(요소)
#값 추출하기

dict_scores = {
    '홍길동': 80,
    '공유': 90,
    '현빈': 100
}
print(dict_scores.get('현빈'))
print(dict_scores.get('송중기'))
print(dict_scores.get('송중기','없음')) #'송중기'라는 값이 없으면 '없음'이라는 문구를 출력해줘!

100
None
없음

In [ ]:
#key값이 존재하는지 확인
dict_scores = {
    '홍길동': 80,
    '공유': 90,
    '현빈': 100
}
print('현빈' in dict_scores) #'현빈'이라는 key가 dict_scores 안에 있니?
print('송중기' in dict_scores) #'송중기'라는 key가 dict_scores 안에 있니?

True
False

#**딕셔너리: 모든 keys / values 얻기**

In [ ]:
#모든 key들 얻기
#딕셔너리명.keys()

dict_scores = {
    '홍길동': 80,
    '공유': 90,
    '현빈': 100
}

print(dict_scores.keys()) #리스트의 키 보여줘!
print(list(dict_scores.keys())) #key리스트만 출력

dict_keys(['홍길동', '공유', '현빈'])
['홍길동', '공유', '현빈']

In [ ]:
#모든 value들 얻기
#딕셔너리명.values()

dict_scores = {
    '홍길동': 80,
    '공유': 90,
    '현빈': 100
}

print(dict_scores.values()) #리스트의 벨류값 보여줘!
print(list(dict_scores.values())) #value 리스트만 출력

dict_values([80, 90, 100])
[80, 90, 100]

In [ ]:
#모든 key:value들 얻기
#딕셔너리명.items()

dict_scores = {
    '홍길동': 80,
    '공유': 90,
    '현빈': 100
}

print(dict_scores.items()) #리스트의 벨류값 보여줘!
print(list(dict_scores.items())) #value 리스트만 출력

dict_items([('홍길동', 80), ('공유', 90), ('현빈', 100)])
[('홍길동', 80), ('공유', 90), ('현빈', 100)]

In [ ]:
#데이터 모두 출력하기
#방법1
dict_scores = {
    '홍길동': 80,
    '공유': 90,
    '현빈': 100
}

for key in dict_scores.keys():
    print(key, dict_scores[key]) #value값을 불러올때 dict_scores[key]를 사용하는 이유는 key값을 이용하여 불러오기 때문에 (value값은 사용하지 못한다)

홍길동 80
공유 90
현빈 100

In [ ]:
#방법2
dict_scores = {
    '홍길동': 80,
    '공유': 90,
    '현빈': 100
}

for key,value in dict_scores.items():
    print(key, value)

홍길동 80
공유 90
현빈 100

#**딕셔너리: 정렬하여 출력하기**

In [ ]:
dict_scores = {
    '홍길동': 80,
    '공유': 90,
    '현빈': 100
}

#딕셔너리의 키를 정렬하여 리스트로 받음
new_list = sorted(dict_scores.keys())
print(new_list)

#정렬된 키 리스트 순서로 반복
for key in new_list:
    print(key, dict_scores[key])

['공유', '현빈', '홍길동']
공유 90
현빈 100
홍길동 80

In [ ]:
dict_scores = {
    '홍길동': 80,
    '공유': 90,
    '현빈': 100
}

#딕셔너리의 키를 정렬하여 
#튜플(키,값)으로 받음
item_list = sorted(dict_scores.items())
print(item_list)

#정렬된 키 리스트 순서로 반복
for key,value in item_list:
    print(key, value)

#**예제) 마일리지 관리**
회사 쇼핑몰 고객의 아이디에 부여된 마일리지 포인트를 딕셔너리에 저장하여 관리하고자 한다<br>
아이디 = Kim, Lee, Han, Hong, Hwang<br>
마일리지 = 12000, 11000, 3000, 5000, 18000<br>
​<br>
1. 아이디와 마일리지 포인트를 딕셔너리에 저장한 다음 출력하는 프로그램을 작성하시오<br>
2. 아이디 Han의 마일리지를 5000점으로 업데이트 하시오<br>
3. 아이디 Jang의 마일리지 7000점을 추가하시오<br>
4. 딕셔너리에서 가장 높은 마일리지를 찾아서 출력하는 프로그램을 작성하시오

In [ ]:
mile = {
    'Kim': 12000,
    'Lee': 11000,
    'Han': 3000,
    'Hong': 5000,
    'Hwang': 18000
}
print(mile)

#value 업데이트
mile['Han'] = 5000
print(mile)

#key:value 추가하기
mile['Jang'] = 7000
print(mile)

#가장 높은 마일리지 찾기
print(f'가장 높은 마일리지는 {max(mile.keys())}님의 {max(mile.values())}점 입니다.')

{'Kim': 12000, 'Lee': 11000, 'Han': 3000, 'Hong': 5000, 'Hwang': 18000}
{'Kim': 12000, 'Lee': 11000, 'Han': 5000, 'Hong': 5000, 'Hwang': 18000}
{'Kim': 12000, 'Lee': 11000, 'Han': 5000, 'Hong': 5000, 'Hwang': 18000, 'Jang': 7000}
가장 높은 마일리지는 Lee님의 18000점 입니다.

#**예제) 단어장 만들기**

In [ ]:
dict_voca = {}

while True:
    eng = input('영어단어를 입력하세요: ')
    if eng == '':
        break
    kor = input('뜻을 입력하세요: ')
    dict_voca[eng] = kor

score = 0
for eng_word in dict_voca.keys(): #eng_word에 dict_voca 딕셔너리의 키값을 가져온다
    answer = input(eng_word + ':')
    if answer == dict_voca[eng_word]:
        score+=1
print('-'*50)

print(f'총 점수는 {score}/{len(dict_voca)}입니다.')

영어단어를 입력하세요: tree
뜻을 입력하세요: 나무
영어단어를 입력하세요:
tree:나무
--------------------------------------------------
총 점수는 1/1입니다.