<a href="https://colab.research.google.com/github/Engineer-Uni/Engineer-Unilog/blob/master/2021-05-24-%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**객체의 자료형 확인 type()**

In [ ]:

a = 5 
b = 3.13 
c = '3.14' 
d = "3,14"
e = -3.14
f = 'abc' + '가나다'
g = '123'*3
print(type(a),type(b),type(c),type(d),type(e),type(f),type(g))
print(f)
print(g)

<class 'int'> <class 'float'> <class 'str'> <class 'str'> <class 'float'> <class 'str'> <class 'str'>
abc가나다
123123123

#**변수명 에러 유형**

In [ ]:
# 1st = '첫번째' / 숫자로 시작 x
# f**t = '첫번째' / 문자사용 x(언더바 제외)
# f^st = '첫번째' / 문자사용 x(언더바 제외)
Temp = 1000
# print(temp) / temp와 Temp는 구분된다. (대소문자 구분)
# print = '출력합니다.' / 함수를 변수로 사용할 수 없습니다.
# print(print) / 함수를 변수로 사용할 수 없습니다.

#**파이썬 연산**

In [ ]:
# 파이썬으로 사칙 연산이나 문자열 연산도 가능합니다.
# 하지만 계산후 결과값은 일회성으로 보여지기만 합니다.
# 결과나 과정, 변환된 값을 유지해야하는 경우 프로그램에서 변수가 필요합니다.
print(100+200)
print("Hello world")

300
Hello world

In [ ]:
temp = 100 # temp 라는 변수를 만들고 temp 공간에 100 을 넣는다는 의미
temp # temp 값을 확인하겠다는 의미입니다. 코랩 외의 환경에서는 print(temp)

100

In [ ]:
temp2 = 200
print(temp2) # 코랩 외의 환경에서는 print(temp)

200

In [ ]:
temp3 = temp + temp2 # temp3에 temp의 값과 temp2 을 더해서 넣는다
temp3

300

#**리스트 []**

In [ ]:
#list1 배열을 만들고 그 안에 여러 값을 넣습니다

list0 = [1,3,7,5,3,6,8,10,5,'마지막']
print(list0)

[1, 3, 7, 5, 3, 6, 8, 10, 5, '마지막']

In [ ]:
len(list0) #list0 배열 원소값을 요청 (몇개?)
# len은 문자열의 길이도 구할 수 있습니다.

10

In [ ]:
print(list0[0]) #list1배열의 첫번째 원소값을 출력
print(list0[-1]) #list1배열의 마지막 원소값을 출력
#list 배열의 마지막 원소값을 문자열과 함께 출력
print('list1 배열의 마지막 원소값은' + ' "'+ str(list1[-1]) + '"' + '입니다')

1
마지막
list1 배열의 마지막 원소값은 "마지막"입니다

In [ ]:
print(list0[2:6]) #index2(3번째 원소)부터 5까지 출력
print(list0[2:])
print(list0[:6])
print(list0[:-1])

[7, 5, 3, 6]
[7, 5, 3, 6, 8, 10, 5, '마지막']
[1, 3, 7, 5, 3, 6]
[1, 3, 7, 5, 3, 6, 8, 10, 5]

#**range를 사용해서 리스트 만들기**

In [ ]:
list_rg1 = list(range(11)) #0부터 10까지
list_rg2 = list(range(5,12)) #5부터 11까지
list_rg3 = list(range(-4,5,2)) #-4부터 4까지 2씩 증가
list_rg4 = list(range(20,-1,-1)) #20부터 0까지 -1씩 감소
list_rg5 = list('hello world') #문자 하나씩 리스트 원소로 들어간다

print("list_rg1은" , list_rg1)
print("list_rg2은" , list_rg2)
print("list_rg3은" , list_rg3)
print("list_rg4은" , list_rg4)
print("list_rg5은" , list_rg5)

list_rg1은 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_rg2은 [5, 6, 7, 8, 9, 10, 11]
list_rg3은 [-4, -2, 0, 2, 4]
list_rg4은 [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
list_rg5은 ['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

#**요소의 값 할당 및 삭제하기**

In [ ]:
# 요소의 값 할당하기, 삭제하기

list_rg5[0] = 'H'

print("list_rg5의 0번째 요소 대문자로 수정", list_rg5)

del list_rg5[5] #index 5(6번째)에 위치한 띄어쓰기 삭제
print("list_rg5의 5번째 요소 삭제", list_rg5)

list_rg5의 0번째 요소 대문자로 수정 ['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
list_rg5의 5번째 요소 삭제 ['H', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

#**튜플()**

요소를 변경, 추가, 삭제 불가. 튜플은 읽기 전용 리스트다.

#**딕셔너리{}**

#**For문 (반복문)**

In [ ]:
for i in range(0,3,1):
    print(i, 'for문을 공부하고 있습니다')

0 for문을 공부하고 있습니다
1 for문을 공부하고 있습니다
2 for문을 공부하고 있습니다

In [ ]:
#index 5까지의 요소, x를 출력해라
for x in range(5): 
    print(x)

0
1
2
3
4

In [ ]:
# 합계 구하기
sum = 0
start = 1
end = 11
for x in range(start,end):
    sum += x
    print('x:', x, 'sum:', sum)
print('-'*50)
print(start, '부터', end-1, '까지 더한 총합은', sum,'입니다')

x: 1 sum: 1
x: 2 sum: 3
x: 3 sum: 6
x: 4 sum: 10
x: 5 sum: 15
x: 6 sum: 21
x: 7 sum: 28
x: 8 sum: 36
x: 9 sum: 45
x: 10 sum: 55
--------------------------------------------------
1 부터 10 까지 더한 총합은 55 입니다

In [ ]:
# 학점 계산기
def grade(score):   
    if score >= 90:
        print('A')
    elif score >=80:
        print('B')
    elif score >=70:
        print('C')
    elif score >=60:
        print('D')
    else :
        print('F')

score = int(input('점수를 입력해주세요'))
print(grade(score))

#**랜덤으로 추출하기 random.randint()**

random.randint(start, end)  
*randint는 뒤의 숫자도 포함!

In [ ]:
#누가 발표할까요? 모듈 만들기
import random 
list_DT = ['람쥐', 'JYP', '여름', '유니콘', '자룡' , 'DB', '전봇대']
index = random.randint(0,len(list_DT)-1)
print(rand_num, "발표자는 "+list_DT[index]+"입니다")

4 발표자는 유니콘입니다