<a href="https://colab.research.google.com/github/Engineer-Uni/Engineer-Unilog/blob/master/_notebooks/2021-05-26_%EB%B0%98%EB%B3%B5%EB%AC%B8%2C%20%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%99%80%20%EB%9E%9C%EB%8D%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**리스트**
> 리스트 안에는 어떠한 자료형도 포함시킬 수 있다.<br>
> 숫자, 문자열 뿐 아니라 변수, 다른 리스트도 저장할 수 있다.<br>
> 하나의 리스트 안에 다양한 자료형을 혼합하여 포함시킬 수 있다.

In [ ]:
n1 = 100
fruits = ['사과','오렌지','포도','수박','바나나']
mylist = [n1, fruits, 20, 30, '슈퍼맨', True, [1,2,3]] #n1 은 변수값
mylist

for x in mylist:
    print(type(x))

<class 'int'>
<class 'list'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'list'>

In [ ]:
# 초기값이 있는 리스트 생성
list_1 = [1,2,3,4,5]
list_1

[1, 2, 3, 4, 5]

In [ ]:
# range 이용하여 리스트 생성
list_2 = list(range(0,5))
list_2

[0, 1, 2, 3, 4]

#**리스트 출력하기**

In [ ]:
#for문을 이용하여 리스트의 요소 출력하기

fruits = ['사과','오렌지','포도','수박','바나나']
for fruit in fruits:
    print(fruit)
#리스트 출력 시 디폴트값이 Enter이기 때문에 줄을 바꿔서 출력된다.

사과
오렌지
포도
수박
바나나

In [ ]:
# 줄을 바꿔서 출력하는 대신, end=' ' 를 추가해 줄 수 있다
fruits = ['사과','오렌지','포도','수박','바나나']
for i in fruits:
    print(type(i), end=' : ')
    print(i)

<class 'str'> : 사과
<class 'str'> : 오렌지
<class 'str'> : 포도
<class 'str'> : 수박
<class 'str'> : 바나나

#**인덱싱: 리스트 요소 추출**

In [ ]:
# 리스트 안의 리스트도 하나의 인덱스로 인식한다
fruits = ['사과','오렌지','포도',['수박','바나나']]
fruits[3]

['수박', '바나나']

In [ ]:
a = [1,2,3,4,5]
a[2]+a[4]

8

In [ ]:
# -인덱스는 역순을 뜻한다. 단, -1 부터 시작.
fruits = [['사과','오렌지'],'포도',['수박','바나나']]
fruits[-2]

'포도'

In [ ]:
a = [1,2,3,4,5]
a[-2]+a[-3]

7

#**인덱스 안의 인덱스 추출**

In [ ]:
# 해당 인덱스 넘버를 연달아써준다
fruits = ['사과','오렌지',['포도','수박','바나나']]
fruits[2][0]

'포도'

In [ ]:
# print문을 쓰면 모두 출력 / print문이 없으면 제일 마지막 것만 출력
a = [1,2,['a','b',['life','is']]]
print(a[2][2])
a[2][2][0]

['life', 'is']

'life'

#**슬라이싱: 리스트 요소 추출**
> 슬라이싱 기법으로 한 번에 여러 개의 요소들을 추출할 수 있다 <br>
리스트명[시작인덱스 : 끝인덱스(이전값까지만 계산) : 간격]

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[3:8])
print(nums[-7:-2])

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]

In [ ]:
nums = list(range(1,11))
print(nums)
print('-' *50)

#시작 인덱스 생략
print(nums[:3])
print(nums[0:3])
print('-' *50)

#끝 인덱스 생략
print(nums[3:])
print(nums[3:10])
print(nums[3:len(nums)])
print('-' *50)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
--------------------------------------------------
[1, 2, 3]
[1, 2, 3]
--------------------------------------------------
[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
--------------------------------------------------

#**간격 슬라이싱 _ 짝수만, 홀수만 ...**

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
nums[3:8:2]

[4, 6, 8]

In [ ]:
#역순 추출
#리스트명 [끝인덱스 : 시작인덱스 : 간격(음수)]
nums = list(range(1,11))
print(nums[8:3:-2])
print(nums[-2:-7:-2])

[9, 7, 5]
[9, 7, 5]

In [ ]:
nums = list(range(1,11))
print(nums[-3:-8:-2])
print(nums[7:2:-2])

[8, 6, 4]
[8, 6, 4]

In [ ]:
a = [1,2,3,['a','b','c',],4,5]
print(a[2:5])
print(a[-5:-3])

[3, ['a', 'b', 'c'], 4]
[2, 3]

#**리스트 연산하기**

In [ ]:
# 리스트 더하기 _ 같은 타입값만 가능
a = ['a','b','c']
b = ['d','e','f']
a + b

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
# 리스트 곱하기 _ 같은 내용을 반복
a = ['A','a']
b = a*3
b

['A', 'a', 'A', 'a', 'A', 'a']

#**len(리스트명)_리스트의 항목수 구하기**

In [ ]:
fruits = ['사과','오렌지','포도','수박','바나나']

len(fruits)

5

#**리스트 요소값 변경하기**

In [ ]:
#인덱스 값 변경

fruits = ['사과','오렌지','포도','수박','바나나']
fruits[1] ='망고'
print(fruits)

['사과', '망고', '포도', '수박', '바나나']

In [ ]:
# 인덱스에 변수나 수식 사용가능

fruits = ['사과','오렌지','포도','수박','바나나']
k = 1
fruits[k+2] ='망고'
print(fruits)

['사과', '오렌지', '포도', '망고', '바나나']

In [ ]:
# 리스트 안에 여러 개의 요소 추가하기
# 슬라이싱[추가 시작할 인덱스, 보여질 인덱스] 해서 넣어야된다~

fruits = ['사과','오렌지','포도','수박','바나나']
fruits[1:4] = ['망고','복숭아']
print(fruits)

['사과', '망고', '복숭아', '바나나']

In [ ]:
# 리스트 
fruits = ['사과','오렌지','포도','수박','바나나']
fruits[1] = ['망고','복숭아']
print(fruits)

['사과', ['망고', '복숭아'], '포도', '수박', '바나나']

#**리스트 요소 삭제하는 3가지 방법**

**인덱스를 알고 있을 때 사용**
- del 리스트명[index] : 바로 제거
- 리스트명.pop() 인덱스를 알고 있을 때 사용 : 값 반환 후 제거 (변수 = 제거할인덱스 지정해보면 제거된 값을 알려준다)


**값을 알고 있을 때 사용**
- 리스트명.remove(요소) 

예제) '바나나'를 없애는 3가지 방법

In [ ]:
# 지정 인덱스의 항목 삭제 _ del 리스트명[index]
fruits = ['사과','오렌지','포도','수박','바나나']
del fruits[4]
print(fruits)

['사과', '오렌지', '포도', '수박']

In [ ]:
# 지정 인덱스 항목 삭제 _ 리스트명.pop(인덱스) _ (괄호)디폴트값은 마지막 인덱스
fruits = ['사과','오렌지','포도',['수박','바나나']]
pop_fruit = fruits.pop(2)
print(fruits, f'pop_fruit는 {pop_fruit} 입니다')

['사과', '오렌지', ['수박', '바나나']] pop_fruit는 포도 입니다

In [ ]:
#리스트 모든 요소 삭제
#리스트명.clear()

fruits = ['사과','오렌지','포도',['수박','바나나']]

fruits.clear()
print(fruits)

[]

In [ ]:
# 마지막 항목 삭제 _ 리스트명.remove(요소)
# 요소가 여러개여도 가장 첫번째 항목만 삭제한다
fruits = ['사과','오렌지','포도','수박','바나나','파인애플','바나나']
fruits.remove('바나나')
print(fruits)

['사과', '오렌지', '포도', '수박', '파인애플', '바나나']

In [ ]:
# 리스트 안에 요소가 있는지 확인하고 삭제하기
fruits = ['사과','오렌지','포도','수박','바나나','망고']
if '망고' in fruits:
    fruits.remove('망고')
print(fruits)

['사과', '오렌지', '포도', '수박', '바나나']

#**리스트에 요소 추가**
- .append() _ 리스트에 맨 마지막에 하나의 요소를 추가한다
- .extend() _ 리스트에 맨 마지막에 여러개의 요소를 추가한다
- .insert(인덱스, 요소) _ 지정된 인덱스에 요소를 추가한다

In [ ]:
# .append(요소) _ 리스트의 마지막에 요소 하나 추가
fruits = ['사과','오렌지','포도','수박','바나나']
fruits.append('복숭아')
fruits.append(['복숭아','망고'])
#fruits.append('복숭아','망고')
print(fruits)

['사과', '오렌지', '포도', '수박', '바나나', '복숭아', ['복숭아', '망고']]

In [ ]:
# .extend _ 리스트의 마지막에 여러 요소 추가
fruits = ['사과','오렌지','포도','수박','바나나']
fruits.extend(['복숭아','망고'])
print(fruits)
print('-'*100)

# 리스트에 리스트 추가 ( 이중괄호로 묶기 )
fruits = ['사과','오렌지','포도','수박','바나나']
fruits.extend([['복숭아','망고'],['키위', '파인애플']])
# fruits.extend(['복숭아','망고'],['키위', '파인애플'])
print(fruits)

['사과', '오렌지', '포도', '수박', '바나나', '복숭아', '망고']
----------------------------------------------------------------------------------------------------
['사과', '오렌지', '포도', '수박', '바나나', ['복숭아', '망고'], ['키위', '파인애플']]

In [ ]:
# .insert(인덱스, 요소) _ 인덱스 뒤에 요소 추가
fruits = ['사과','오렌지','포도','수박','바나나']
fruits.insert(0,'복숭아')
print(fruits)

['복숭아', '사과', '오렌지', '포도', '수박', '바나나']

#**요소의 위치 찾기**

In [ ]:
# '포도'의 위치(인덱스) 찾기
fruits = ['사과','오렌지','포도','수박','바나나']
fruits.index('포도')

2

In [ ]:
# 해당하는 요소가 없을 경우 단순 에러로 표시하기 때문에
# 요소가 없다는 메세지를 출력하려면 다음과 같이 코드를 짠다.

fruits = ['사과','오렌지','포도','수박','바나나']
if '자두' in fruits:
    print(fruits.index('자두'))
else:
    print('해당 과일은 준비되지 않았습니다.')

해당 과일은 준비되지 않았습니다.

#**멤버 연산자 in, not in**

여러 데이터 중 원하는 데이터가 존재하는지 여부를 검사하는 연산자

In [ ]:
print('p' in 'python')
print(0 in (1,2,3,4))

True
False

In [ ]:
'f' not in 'python'

True

#**예제) 도서 열람하기**

In [ ]:
books = ['해리포터','나니아연대기','빠삐용','사피엔스']
book_name = input('도서 제목: ')
if book_name in books:
    print(f'{book_name}는 {books.index(book_name)}번째 인덱스에서 찾을 수 있습니다.')
else:
    print(f'{book_name} 도서는 준비되지 않았습니다.')

도서 제목: 해리포터
해리포터는 0번째 인덱스에서 찾을 수 있습니다.

#**특정 요소의 개수 추출**
.count(요소) _ 리스트에서 지정한 요소의 개수를 반환한다.

In [ ]:
fruits = ['사과','오렌지','포도','수박','바나나','수박']
fruits.count('수박')

2

#**리스트 정렬**
리스트 원본 정렬하기
- 리스트명.sort() _ 오름차순
- 리스트명.sort(reverse=True) _ 내림차순

리스트 원본은 유지한 채로 사본 정렬하기
- sorted(리스트명)_ 오름차순
- sorted(리스트명, reverse=True) _ 내림차순

In [ ]:
#리스트 원본 정렬하기
fruits = ['사과','오렌지','포도','수박','바나나']
fruits.sort(reverse=True)
print(fruits)

['포도', '오렌지', '수박', '사과', '바나나']

In [ ]:
fruits = ['사과','오렌지','포도','수박','바나나']
sorted_fruits = sorted(fruits)
print(f'원본: {fruits}')
print(f'오름차순: {sorted_fruits}')

원본: ['사과', '오렌지', '포도', '수박', '바나나']
오름차순: ['바나나', '사과', '수박', '오렌지', '포도']

#**.reverse( ) _ 리스트 역순으로 뒤집기**

In [ ]:
fruits = ['사과','오렌지','포도','수박','바나나']
fruits.reverse()
print(fruits)

['바나나', '수박', '포도', '오렌지', '사과']

#**리스트에서 랜덤 항목 출력하기**
랜덤을 사용하기 위해서는 반드시 **import random** 해줘야한다

In [ ]:
# random.choice(리스트명)
import random
wise_saying = []
wise_saying.append('미래는 현재 우리가 무엇을 하고 있는가에 달려있다. - 마히트마 간디')
wise_saying.append('교육은 세상을 바꿀 수 있는 가장 강력힌 무기다 - 넬슨 만델리')
wise_saying.append('성공하기 위한 가장 확실한 방법은 한번 더 시도해 보는 것이다 - 토마스에디슨')
wise_saying.append('가장 불만에 가득찬 고객은 가장 위대한 배움의 원천이다 _ 빌 게이츠')
wise_saying.append('영원히 살 것처럼 꿈꾸고 오믈 죽을 것처럼 살아라 - 제임스딘')
wise_saying.append('경쟁우위가 없다면 경쟁하지 마라 - 잭윌치')
wise_saying.append('삶에 실수는 없고, 배움만이 있을 뿐이다. - 지아드 압델 누어')
wise_saying.append('어제와 똑같은 삶을 살면서 다른 미래를 기대하는 것은 정신병의 초기증세이다 -아인슈타인')
wise_saying.append('문제점을 찾지 말고 해결책을 찾으라 - 헨리포드')
wise_saying.append('실수를 해보지 않은 사람은 한번도 새로운 일을 시도해보지 않았던 사람이다 -아인슈타인')
print(random.choice(wise_saying))
print(random.sample(wise_saying,2))

미래는 현재 우리가 무엇을 하고 있는가에 달려있다. - 마히트마 간디
['미래는 현재 우리가 무엇을 하고 있는가에 달려있다. - 마히트마 간디', '문제점을 찾지 말고 해결책을 찾으라 - 헨리포드']

#**리스트 항목 계산하기**


- 합계: sum(리스트명)


- 최대값: max(리스트명)


- 최소값: min(리스트명)

In [ ]:
a = [1,2,3,4,5]
b = ['a','b','c','d','e']
c = ['월','화','수','목','금','토']
print(sum(a),max(b),min(c))

15 e 금

#**Random 모듈**
- 숫자 사용하는 경우<br>
random.randint(시작값,끝값) : 시작값, 끝값 사이의 랜덤한 정수 반환(*끝값 포함)<br>
random.randrange(시작값,끝값) : 시작값, 끝값 사이의 랜덤한 정수 반환(끝값 불포함/range 랑 동일한 방식으로 사용)<br>
random.randrange(끝값) : 인자가 1개인 경우 0~끝값 사이의 랜덤한 정수 반환(끝값 불포함)

- 로또번호<br>
random.sample(range(처음값, 끝값), 갯수) : 임의의 값(난수)을 필요한 개수만큼 리스트(list)로 반환 / 중복 안시킴 

- 체온 체크 게이트<br>
random.uniform(최소, 최대) : 입력 파라미터인 최소부터 최대까지 중 임의의 부동소수점(float) 숫자를 리턴한다

- 점심메뉴 고르기<br>
random.choice(리스트명) : 리스트의 항목들 중 랜덤으로 하나 출력

- 노래 랜덤재생<br>
random.shuffle(리스트명) :  순서형 자료를 뒤죽박죽으로 섞음

#**예제1 숫자들의 합계와 평균 구하기**

In [ ]:
numbers = []
for i in range(5):
    x = float(input('숫자를 입력하세요: ')) 
    numbers.append(x)
if len(numbers) != 0:
    average = sum(numbers) / len(numbers)
else:
    average = 0
print(f'합계는 {sum(numbers)}이고, 평균은 {average}입니다.')

숫자를 입력하세요: 0
숫자를 입력하세요: 0
숫자를 입력하세요: 0
숫자를 입력하세요: 0
숫자를 입력하세요: 1
합계는 1.0이고, 평균은 0.2입니다.

In [ ]:
num = []
for i in range(5):
    x = int(input("숫자를 입력하시오 : "))
    num.append(x)
    print(num)
print("숫자들의 합계 : ", sum(num), "숫자들의 평균", sum(num)/5)

숫자를 입력하시오 : 1
[1]
숫자를 입력하시오 : 2
[1, 2]
숫자를 입력하시오 : 3
[1, 2, 3]
숫자를 입력하시오 : 4
[1, 2, 3, 4]
숫자를 입력하시오 : 5
[1, 2, 3, 4, 5]
숫자들의 합계 :  15 숫자들의 평균 3.0